## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Izberbash,RU,2022-01-10 02:32:17,42.5696,47.8645,42.85,82,65,8.08,broken clouds
1,1,Mataura,NZ,2022-01-10 02:32:17,-46.1927,168.8643,69.48,47,48,3.42,scattered clouds
2,2,Sakhnovshchyna,UA,2022-01-10 02:32:18,49.1517,35.8720,31.60,95,100,5.32,overcast clouds
3,3,Lengede,DE,2022-01-10 02:32:18,52.2049,10.3078,40.64,93,100,1.99,overcast clouds
4,4,Coihaique,CL,2022-01-10 02:28:06,-45.5752,-72.0662,60.75,59,100,8.05,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
6,6,Hilo,US,2022-01-10 02:28:31,19.7297,-155.0900,78.53,80,75,6.91,broken clouds
9,9,Carnarvon,AU,2022-01-10 02:31:21,-24.8667,113.6333,80.67,47,0,16.11,clear sky
10,10,Ugoofaaru,MV,2022-01-10 02:32:21,5.6667,73.0000,80.94,74,100,8.93,overcast clouds
11,11,Yeppoon,AU,2022-01-10 02:32:21,-23.1333,150.7333,83.98,60,41,15.52,scattered clouds
12,12,Pandan,PH,2022-01-10 02:32:21,14.0453,124.1694,81.54,75,74,6.69,broken clouds
15,15,Rikitea,PF,2022-01-10 02:31:21,-23.1203,-134.9692,77.97,78,100,19.15,overcast clouds
16,16,Saint-Philippe,RE,2022-01-10 02:32:23,-21.3585,55.7679,76.59,84,97,12.21,light rain
20,20,Atambua,ID,2022-01-10 02:32:25,-9.1061,124.8925,82.42,69,61,4.90,broken clouds
22,22,Avarua,CK,2022-01-10 02:32:26,-21.2078,-159.7750,82.45,74,75,16.11,broken clouds
27,27,Dingle,PH,2022-01-10 02:32:28,10.9995,122.6711,83.39,73,77,8.61,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                152
City                   152
Country                152
Date                   152
Lat                    152
Lng                    152
Max Temp               152
Humidity               152
Cloudiness             152
Wind Speed             152
Weather Description    152
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
6,6,Hilo,US,2022-01-10 02:28:31,19.7297,-155.0900,78.53,80,75,6.91,broken clouds
9,9,Carnarvon,AU,2022-01-10 02:31:21,-24.8667,113.6333,80.67,47,0,16.11,clear sky
10,10,Ugoofaaru,MV,2022-01-10 02:32:21,5.6667,73.0000,80.94,74,100,8.93,overcast clouds
11,11,Yeppoon,AU,2022-01-10 02:32:21,-23.1333,150.7333,83.98,60,41,15.52,scattered clouds
12,12,Pandan,PH,2022-01-10 02:32:21,14.0453,124.1694,81.54,75,74,6.69,broken clouds
15,15,Rikitea,PF,2022-01-10 02:31:21,-23.1203,-134.9692,77.97,78,100,19.15,overcast clouds
16,16,Saint-Philippe,RE,2022-01-10 02:32:23,-21.3585,55.7679,76.59,84,97,12.21,light rain
20,20,Atambua,ID,2022-01-10 02:32:25,-9.1061,124.8925,82.42,69,61,4.90,broken clouds
22,22,Avarua,CK,2022-01-10 02:32:26,-21.2078,-159.7750,82.45,74,75,16.11,broken clouds
27,27,Dingle,PH,2022-01-10 02:32:28,10.9995,122.6711,83.39,73,77,8.61,broken clouds

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
6,Hilo,US,78.53,broken clouds,19.7297,-155.0900,
9,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,
10,Ugoofaaru,MV,80.94,overcast clouds,5.6667,73.0000,
11,Yeppoon,AU,83.98,scattered clouds,-23.1333,150.7333,
12,Pandan,PH,81.54,broken clouds,14.0453,124.1694,
15,Rikitea,PF,77.97,overcast clouds,-23.1203,-134.9692,
16,Saint-Philippe,RE,76.59,light rain,-21.3585,55.7679,
20,Atambua,ID,82.42,broken clouds,-9.1061,124.8925,
22,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
27,Dingle,PH,83.39,broken clouds,10.9995,122.6711,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
6,Hilo,US,78.53,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,Hospitality Carnarvon
10,Ugoofaaru,MV,80.94,overcast clouds,5.6667,73.0000,Ungoofaaru Inn
11,Yeppoon,AU,83.98,scattered clouds,-23.1333,150.7333,Villa Mar Colina
12,Pandan,PH,81.54,broken clouds,14.0453,124.1694,Bonifacio Lodge
15,Rikitea,PF,77.97,overcast clouds,-23.1203,-134.9692,People ThankYou
16,Saint-Philippe,RE,76.59,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
20,Atambua,ID,82.42,broken clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
22,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,Paradise Inn
27,Dingle,PH,83.39,broken clouds,10.9995,122.6711,SEGAYA PROPERTY

In [38]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_Vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))